<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IQuoteDownloadService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/QuoteDownloadService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuoteDownloadService"
                contract="QuoteDownloadService.IQuoteDownloadService" name="BasicHttpBinding_IQuoteDownloadService" />
        </client>
    </system.serviceModel>
</configuration>